#ignore file
practice.ipynb
adbkey
adbkey.pub
config.json

#ignore dir
.ipynb_checkpoints/
.idea/
Backup/
**/__pycache__
config.json
dist/MMD-GUI.exe
build/MMD-GUI/Analysis-00.toc
build/MMD-GUI/base_library.zip
build/MMD-GUI/EXE-00.toc
build/MMD-GUI/MMD-GUI.pkg
build/MMD-GUI/PKG-00.toc
build/MMD-GUI/PYZ-00.pyz
build/MMD-GUI/PYZ-00.toc
build/MMD-GUI/warn-MMD-GUI.txt
build/MMD-GUI/xref-MMD-GUI.html
build/MMD-GUI/localpycs/pyimod01_archive.pyc
build/MMD-GUI/localpycs/pyimod02_importers.pyc
build/MMD-GUI/localpycs/pyimod03_ctypes.pyc
build/MMD-GUI/localpycs/pyimod04_pywin32.pyc
build/MMD-GUI/localpycs/struct.pyc
